
$accentColor = #ff9900; // 默认主题颜色
// $borderColor = #ff9900; // 默认边框颜色
$codeBgColor = #000; // 默认背景颜色
$nprogressColor = $accentColor;

.custom-block.tip {
  border-color: $accentColor;
}

.token.string, .token.char, .token.attr-value, .token.regex, .token.variable {
  color: #ce723b;
}

.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata {
  color: #6a9955;
}

.token.property, .token.class-name, .token.constant, .token.symbol {
  color: #9cdcfe;
}

.theme-default-content pre code, .theme-default-content pre[class*='language-'] code {
  color: #9cdcfe;
}

.custom-block.tip {
  border-color: #ff9900;
}

.navbar .logo {
  border-radius: 0;
}

/* .content__default code {
  color: #dd1144;
  border 1px solid #dddddd
  background-color: #f6f6f6;
  border-radius: 3px;
} */